.bg-tori {
  background-image: url("../src/assets/images/tori.jpg");
  background-position: center;
  opacity: 0.48;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  height: 100px;
  width: 500px;
  top: 250px;
  left: 150px;
}

.absolute-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
